h1{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 2.7rem;
  }
  #submit{
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    padding: .5em 6em .5em 6em;
    text-transform: uppercase;
    border-radius: 1.25em;
    font-size: 1rem;
    margin-top: 1em;
    border-color: #FFFFFF;
  }
  p{
    font-size: 1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
  }
  form{
    font-size: 1.1rem;
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
  
  }
  .center{
    font-size:1.2rem;
  }
  .space{
    padding: .5em 2.5em .5em 2.5em;
    border-radius: .5em;
  
  }
  .columnright{
      border-style: solid;
      padding-bottom:2.5em;
      padding-left:.5em;
      flex:1;
  
  }
  .columnleft{
    text-align: center;
    flex: 1;
    margin-top: 150px;
  }
  @media (min-width: 56.25em){
    .flex-container{display:flex;
  }
  }
  .center{
    display: flex;
    align-content: center;
    justify-content: center;
    max-width:100%;
  }
  body{color:
    #FFFFFF;
  }
  html {
    background: url(../images/halftone-background-with-circles_23-2148907689.webp) no-repeat center center fixed;
    background-size: cover;
  }
  